{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <head></head>
    <body id="image" style="background-image: url('{% static 'images/servicing.jpg' %}'); background-size: 1600px 800px;">
        
        <div id="div" class=" ">
            <h2 class="featurette-heading"><a name="CONTACT US"></a>CONTACT US<span class="text-muted"></span></h2>
            <p class="lead" > <b>Naraynthan Auto Trading Pvt. Ltd</b></p>
            <p class="lead" ><b>Contact number:- 01-4720809<b></p>
            <p class="lead"><b>Location:- Maharajgunj, Chakrapath, kathmandu, Nepal<b></p>
            <p class="lead"><b>Email:- shublink@gmail.com</b></p>
            
        </div>  
        
        <style>
            #div {
               
                text-align: center;
                padding: 200px;
                font-style: bold;
            }

           
        </style>
    </body>
</html>

{% endblock %}