{% extends 'customerbase.html' %}

{% block content %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>




<div class="container">
    <div class="row my-4">
        <div class="col-md-2">

        </div>
        <div class="col-md-12">
            <table class="table bg-white">
                <thead class="bg-success">
                    <tr class="text-white">
                        <th scope="col">name</th>
                        <th scope="col">email</th>
                        <th scope="col">services</th>
                        <th scope="col">contact</th>
                        <th scope="col">Time</th>
                        <th scope="col">Date</th>
                        <th scope="col">status</th>


                        
                                                
                    </tr>
                </thead>
                <tbody>

                    
                    {% for items in appointment %}

                    
                    <tr>
                                
                        <td>{{ items.name }}</td>
                        <td>{{ items.email }}</td>
                        <td>{{ items.service }} </td>
                        
                        <td>{{ items.contact }}</td>
                        <td>{{ items.time }}</td>
                        <td>{{ items.date }}</td>
                        <td>
                        {% if items.status %}
                       <small class="badge bg-success">Completed</small>
                        {% else %}
                        <small class="badge bg-warning">Pending</small>
                        
                        {% endif %}
                    </td>
                       

                      

                       




                       


                        <!-- <td><a href="">Generate Bill</a></td> -->
                    </tr>
                    {% endfor %}
     
                  </tbody>
                  
                  
                  
                  
            </table>
      
            
        </div>
    </div>

</div>

{% endblock %}